APP_VERSION=0.1.0
DOCKER_REGISTRY=local
DOCKER_NAMESPACE=movies-recommender
API_IMAGE=local/movies-recommender/api:0.1.0
DATASET_IMAGE=local/movies-recommender/dataset:0.1.0
FRONTEND_IMAGE=local/movies-recommender/frontend:0.1.0
DATA_DIR=./Backend/data
BACKEND_PORT=8014
FRONTEND_PORT=5173
BACKEND_BIND_HOST=127.0.0.1
FRONTEND_BIND_HOST=127.0.0.1
MOVIES_RECOMMENDER_DATA_DIR=./Backend/data
VITE_API_URL=http://localhost:8014
